---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageH2 = "This is my blog";
const pageTitle = "Oo's blogging"
---
<BaseLayout pageH2={pageH2} pageTitle={pageTitle}>
    <p class="my-6">This is where I will post about my journey learning Astro</p>
    <div class="grid grid-cols-3 grid-rows-2 gap-3">
        {allPosts.map((post)=><BlogPost url={post.url} title={post.frontmatter.title} image={post.frontmatter.image.url}></BlogPost>)}
    </div>
    
</BaseLayout>