---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import '../styles/global.css';
// import { gsap } from "gsap";
// import { ScrollTrigger } from "gsap/ScrollTrigger";
// import { ScrollToPlugin } from "gsap/ScrollToPlugin";
// gsap.registerPlugin(ScrollTrigger,ScrollToPlugin);

const {pageTitle} = Astro.props;
const {pageH2} = Astro.props; 

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

  </head>
  <body>
    <div class="main">
      <Header />
      <h1 class="w-full text-right text-[#023047] before:content-['--']"> {pageTitle}</h1>
      <h2 class="text-5xl mb-7">{pageH2}</h2>
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
      import { gsap } from "gsap";
      </script>
      
      
  </body>
</html>